{% extends "base_generic.html" %} 
{% load i18n %}

{% block content %}
<main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <div class="blog-wrapper">
    <div class="blog-container">
      <div class="blog-detail_infor">
        <span class="blog-detail-author"
          ><a
            href="{% url 'user' article.author.id  %}"
            class="blog-link blog-author-name"
          >
            {{ article.author.get_full_name}}
          </a></span
        >
        <span class="blog-detail-date">{{article.created_at}}</span>
      </div>
      <p class="blog-detail-title">{{article.title}}</p>
      <p class="blog-detail-subtitle">{{article.subtitle}}</p>
      <img
        class="blog-detail-img"
        src="{{ article.image.url }}"
        alt="Image Alt Text"
      />
      <p class="blog-detail-content">{{article.content}}</p>
    </div>

    <div class="blog-rating">
       {% if article.author.id == user.id %}
            <h5 class="card-title">Avg rating:
                {% for i in avg_rate %}
                    <span class="fa fa-star {% if article.average_rating > i %} checked {% endif %}"></span>
                {% endfor %}      
            </h5>
        {% else %}
            <ul class="btn btn-light list-inline rating-list" id="ratingList">
                {% for i in num_of_stars reversed %}
                    <li class="star" data-rating="{{ i }}" data-article-id="{{ article.id }}">
                        <i class="fa fa-star {% if article.user_rating >= i %} checked {% endif %}" title="Rate {{ i }}"></i>
                    </li>
                {% endfor %}
                <li>Your rating:</li>
            </ul>
        {% endif %}
    </div>

    <div class="comment-section">
      <p class="comment-title">{% trans 'Comments'%}</p>
      <hr />
      <h3>{% trans 'Leave a comment'%}</h3>
      <form method="post" class="comment-box" id="post-form">
        {{ comment_form.as_p }} {% csrf_token %}
        <button data-article="{{article.id}}" class="submit-btn" type="submit">
          {% trans 'Post'%}
        </button>
      </form>
      <div class="comment-list">
        {% for comment in comments %}
        <div class="comment-infor">
          <p class="comment-author">{{ comment.user.get_full_name}}</p>
          <p class="comment-date">{{ comment.created_at}}</p>
        </div>
        <p class="comment-text">{{ comment.text }}</p>
        <hr />
        {% empty %}
        <p>{% trans 'No comments yet.'%}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="blog-all">
    <button class="blog-widely-read-btn">{% trans 'Related blogs'%}</button>
    <div class="blog-row">
      {% for related in relateds %}
      <div class="col-3">
        <div class="blog-post articles" data-article-id="{{ related.id }}">
          <div class="image-zoom">
            <a href="{% url 'article' related.id %}" class="blog-img-url">
              <img
                class="blog-img"
                src="{{ related.image.url }}"
                alt="Image Alt Text"
              />
            </a>
          </div>
          <div class="blog-author">
            <span>{% trans 'Author: '%} </span>
            <a
              href="{% url 'user' related.author.id %}"
              class="blog-link blog-author-name"
            >
              {{ related.author.get_full_name}}
            </a>
          </div>
          <div class="blog-info">
            <span class="blog-category">{{related.category}}</span>
            <span class="blog-date">{{related.created_at}}</span>
          </div>
          <div class="blog-content">
            <h3 class="blog-title">
              <a href="{% url 'article' related.id %}" class="blog-link"
                >{{related.title}}</a
              >
            </h3>
            <p class="blog-description">{{related.subtitle}}</p>
          </div>
          <div class="blog-read-more">
            <a href="{% url 'article' related.id %}" class="read-more-link"
              >{% trans 'Read more'%}</a
            >
          </div>
          <hr />
          <div class="blog-reaction">
            <a href="{% url 'article' related.id %}">
              <div class="blog-comment">
                <i class="fa-regular fa-comment"></i>
                <span>{{related.count_comments}}</span>
              </div>
            </a>
            <div class="blog-like">
              <span class="like-button" data-article-id="{{ related.id }}">
                {% if related.like %}
                    <i class="fa-solid fa-heart liked"></i>
                {% else %}
                    <i class="fa-regular fa-heart liked"></i>
                {% endif %}
              </span>
              <span class="like-count" data-article-id="{{ related.id }}">
                {{ related.count_likes}}</span
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% load static %}
  <script type="module" src="{% static 'js/like_button.js' %}"></script>
  <script type="module" src="{% static 'js/stars.js' %}"></script>
</main>
{% endblock %}
