{% extends "base_generic.html" %} 
{% load i18n %}

{% block content %}
<main>
  <div class="blog-wrapper">
    <div class="blog-container">
      <div class="blog-detail_infor">
        <span class="blog-detail-author"
          ><a
            href="{% url 'user' article.author.id  %}"
            class="blog-link blog-author-name"
          >
            {{ article.author.get_full_name}}
          </a></span
        >
        <span class="blog-detail-date">{{article.created_at}}</span>
      </div>
      <p class="blog-detail-title">{{article.title}}</p>
      <p class="blog-detail-subtitle">{{article.subtitle}}</p>
      <img
        class="blog-detail-img"
        src="{{ article.image.url }}"
        alt="Image Alt Text"
      />
      <p class="blog-detail-content">{{article.content}}</p>
    </div>

    <div class="blog-rating">
        {% if article.author.id == user.id %}
            <h5 class="card-title">Avg rating:
                <span class="fa fa-star {% if article.average_rating > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if article.average_rating > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if article.average_rating > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if article.average_rating > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if article.average_rating > 4 %} checked {% endif %}"></span>
            </h5>
        {% else %}
            <ul class="btn btn-light list-inline rating-list">
                <li class="star" data-rating="5" data-article-id="{{ article.id }}">
                    <i class="star-btn fa fa-star {% if article.user_rating > 4 %} checked {% endif %}" title="Rate 5"></i></li>
                <li class="star" data-rating="4" data-article-id="{{ article.id }}">
                    <i class="star-btn star-btn fa fa-star {% if article.user_rating > 3 %} checked {% endif %}" title="Rate 4"></i></li>
                <li class="star" data-rating="3" data-article-id="{{ article.id }}">
                    <i class="star-btn fa fa-star {% if article.user_rating > 2 %} checked {% endif %}" title="Rate 3"></i></li>
                <li class="star" data-rating="2" data-article-id="{{ article.id }}">
                    <i class="star-btn fa fa-star {% if article.user_rating > 1 %} checked {% endif %}" title="Rate 2"></i></li>
                <li class="star" data-rating="1" data-article-id="{{ article.id }}">
                    <i class="star-btn fa fa-star {% if article.user_rating > 0 %} checked {% endif %}" title="Rate 1"></i></li>
                <li>Your rating:</li>
            </ul>
        {% endif %}
    </div>

    <div class="comment-section">
      <p class="comment-title">{% trans 'Comments'%}</p>
      <hr />
      <h3>{% trans 'Leave a comment'%}</h3>
      <form method="post" class="comment-box" id="post-form">
        {{ comment_form.as_p }} {% csrf_token %}
        <button data-article="{{article.id}}" class="submit-btn" type="submit">
          {% trans 'Post'%}
        </button>
      </form>
      <div class="comment-list">
        {% for comment in comments %}
        <div class="comment-infor">
          <p class="comment-author">{{ comment.user.get_full_name}}</p>
          <p class="comment-date">{{ comment.created_at}}</p>
        </div>
        <p class="comment-text">{{ comment.text }}</p>
        <hr />
        {% empty %}
        <p>{% trans 'No comments yet.'%}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% load static %}
  <script type="module" src="{% static 'js/stars.js' %}"></script>
</main>
{% endblock %}
