<!DOCTYPE html>
<html lang="en">
  {% load i18n %}
  <head>
    {% block title %}
    <title>Learn Japanese</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet"/>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
  </head>
  <body>
    <div class="main">
      <div class="navbar-container">
        <div class="content-select">
          <ul>
            <li>
              <i class="fa-solid fa-house fa-lg"></i>
              <a href="{% url 'index' %}">{% trans 'Home'%}</a>
            </li>
            <li>
              <i class="fa-solid fa-ranking-star fa-lg"></i>
              <a href="">{% trans 'Ranking'%}</a>
            </li>
          </ul>
        </div>
        <div class="user-select">
          <ul>
            {% get_current_language as LANGUAGE_CODE %} 
            {% get_available_languages as LANGUAGES %} 
            {% get_language_info_list for LANGUAGES as languages %}
            <li class="lang-select">
                {% for language in languages %}
                <form
                  action="{% url 'set_language' %}"
                  method="post"
                  style="display: inline"
                >
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ redirect_to }}" />
                  <input
                    type="hidden"
                    name="language"
                    value="{{ language.code }}"
                  />
                  <img class="flags" src="{{ '/static/images/flags/'|add:language.code|add:'.png' }}" alt="flag-img" />
                </form>
                {% endfor %}
            </li>
            
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'own' request.user.id %}">Your posts</a>
            </li>
            <li>
                <a href="{% url 'user' request.user.id %}">User: {{ request.user.get_username }}</a>
            </li>
            <li>
              <a href="{% url 'logout'%}?next={{request.path}}"
                >{% trans 'Logout'%}</a
              >
            </li>
            {% else %}
            <li>
              <a href="{% url 'login'%}?next={{request.path}}"
                >{% trans 'Login'%}</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="content">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
