{% extends "base_generic.html" %} {% block content %} {% load i18n %}
<div class="container">
  <form method="GET" action="{% url 'search' %}">
    <input
      type="text"
      id="search"
      name="author"
      placeholder="Enter the author name"
      required
    />
    <button class="btn-search" type="submit">Search</button>
  </form>

  <div class="page-detail">
    <div class="blog-list-wrapper">
      {%if articles_feature%}
      <div class="blog-widely-read">
        <button class="blog-widely-read-btn">{% trans 'Widely Read'%}</button>
        <div class="blog-row">
          {% for article_item in articles_feature %}
          <div class="col-3">
            <div
              class="blog-post articles"
              data-article-id="{{ article_item.id }}"
            >
              <div class="image-zoom">
                <a
                  href="{% url 'article' article_item.id %}"
                  class="blog-img-url"
                >
                  <img
                    class="blog-img"
                    src="{{ article_item.image.url }}"
                    alt="Image Alt Text"
                  />
                </a>
              </div>
              <div class="blog-author">
                <span>{% trans 'Author: '%} </span>
                <a
                  href="{% url 'user' article_item.author.id %}"
                  class="blog-link blog-author-name"
                >
                  {{ article_item.author.get_full_name}}
                </a>
              </div>
              <div class="blog-info">
                <span class="blog-category">{{article_item.category}}</span>
                <span class="blog-date">{{article_item.created_at}}</span>
              </div>
              <div class="blog-content">
                <h3 class="blog-title">
                  <a
                    href="{% url 'article' article_item.id %}"
                    class="blog-link"
                    >{{article_item.title}}</a
                  >
                </h3>
                <p class="blog-description">{{article_item.subtitle}}</p>
              </div>
              <div class="blog-read-more">
                <a
                  href="{% url 'article' article_item.id %}"
                  class="read-more-link"
                  >{% trans 'Read more'%}</a
                >
              </div>
              <hr />
              <div class="blog-reaction">
                <a href="{% url 'article' article_item.id %}">
                  <div class="blog-comment">
                    <i class="fa-regular fa-comment"></i>
                    <span>{{article_item.count_comments}}</span>
                  </div>
                </a>
                <div class="blog-like">
                  <span
                    class="like-button"
                    data-article-id="{{ article_item.id }}"
                  >
                    {% if article_item.like %}
                    <i class="fa-solid fa-heart liked"></i>
                    {% else %}
                    <i class="fa-regular fa-heart liked"></i>
                    {% endif %}
                  </span>
                  <span
                    class="like-count"
                    data-article-id="{{ article_item.id }}"
                  >
                    {{ article_item.count_likes}}</span
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="blog-all">
        <button class="blog-widely-read-btn">{% trans 'Blog all'%}</button>
        <div class="blog-row">
          {% for article_item in article %}
          <div class="col-3">
            <div
              class="blog-post articles"
              data-article-id="{{ article_item.id }}"
            >
              <div class="image-zoom">
                <a
                  href="{% url 'article' article_item.id %}"
                  class="blog-img-url"
                >
                  <img
                    class="blog-img"
                    src="{{ article_item.image.url }}"
                    alt="Image Alt Text"
                  />
                </a>
              </div>
              <div class="blog-author">
                <span>{% trans 'Author: '%} </span>
                <a
                  href="{% url 'user' article_item.author.id %}"
                  class="blog-link blog-author-name"
                >
                  {{ article_item.author.get_full_name}}
                </a>
              </div>
              <div class="blog-info">
                <span class="blog-category">{{article_item.category}}</span>
                <span class="blog-date">{{article_item.created_at}}</span>
              </div>
              <div class="blog-content">
                <h3 class="blog-title">
                  <a
                    href="{% url 'article' article_item.id %}"
                    class="blog-link"
                    >{{article_item.title}}</a
                  >
                </h3>
                <p class="blog-description">{{article_item.subtitle}}</p>
              </div>
              <div class="blog-read-more">
                <a
                  href="{% url 'article' article_item.id %}"
                  class="read-more-link"
                  >{% trans 'Read more'%}</a
                >
              </div>
              <hr />
              <div class="blog-reaction">
                <a href="{% url 'article' article_item.id %}">
                  <div class="blog-comment">
                    <i class="fa-regular fa-comment"></i>
                    <span>{{article_item.count_comments}}</span>
                  </div>
                </a>
                <div class="blog-like">
                  <span
                    class="like-button"
                    data-article-id="{{ article_item.id }}"
                  >
                    {% if article_item.like %}
                    <i class="fa-solid fa-heart liked"></i>
                    {% else %}
                    <i class="fa-regular fa-heart liked"></i>
                    {% endif %}
                  </span>
                  <span
                    class="like-count"
                    data-article-id="{{ article_item.id }}"
                  >
                    {{ article_item.count_likes}}</span
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="filter-wrapper">
      <h2>{% trans 'Top Category'%}</h2>
      <hr />
      <ul>
        {% for category_item in categories %}
        <li>
          <a href="{% url 'articlesByCategory' category_item.name %}"
            >{{ category_item.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% load static %}
  <script type="module" src="{% static 'js/like_button.js' %}"></script>
</div>
{% endblock %}
