body {
    padding: 20px;
    font-family: 'Comfortaa', cursive;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    background-color: #C51605 ;
    border-radius: 15px;
    margin-bottom: 50px;
    justify-content: space-between;
    padding: 10px 20px 10px 0px;
}

.content-select li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid white;
}

.content-select li a {
    color: white;
    text-decoration: none;
}


.user-select li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.user-select li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.login-form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.login-form-container {
    background-color: #FD8D14;
    padding: 20px 50px 50px 50px;
    border-radius: 15px;
    width: 400px;
}

.form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-button {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #CECE5A;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 200px;
    align-self: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.login-button:hover {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #C51605;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 200px;
    align-self: center;
}


.pass-reset-request {
    display: flex;
    justify-content: center;
}
.pass-reset-request a {
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.pass-reset-request a:hover{
    color: #C51605;
}

.username {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.username input {
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #c9c7c7; 
}
.username input:focus {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background-color: white;
}
.username label {
    margin-bottom: 10px;
    font-size: 18px;
}

.pass {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.pass input {
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #c9c7c7; 
}

.pass input:focus{
    background-color: white;
}

.pass label {
    margin-bottom: 10px;
    font-size: 18px;
}

